NEXT_PUBLIC_CONTACT_EMAIL=marcus@smartprocess.se
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-0YD9EDY6P3
CONTACT_TO_EMAIL=marcus@smartprocess.se
CONTACT_FROM_EMAIL=marcus@smartprocess.se
CONTACT_FROM_NAME=SmartProcess
SMTP_HOST=smtp.strato.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=marcus@smartprocess.se
SMTP_PASSWORD=ange-epostlosenord-har
